@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --bg-color: white
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: white;
  font-family: 'Poppins', sans-serif;
  background-image: url('./images/grid-bg-tr.png');
  background-position: 50% 0;
  background-size: 50%;
}


/* ==========

 Typography

 ========== */
 .banner>*>a{
  color: white;
  text-decoration: none;
}
.complexity-symbol{
  font-weight: bold;
}
.category-title{
  font-size: 1.5rem;
  font-weight: bold;
}
.sort-name{
  font-size: .825em;
}
.gif-wrapper,
.graph-wrapper{
  color: azure;
}
.graph-wrapper::before,
.gif-wrapper::before{
    color: black;  
}
.flashcard-submenu p{
  font-weight: bold;
  font-size: 1.125rem;
}
.scroller-arrow{
  font-size: 3rem;
  font-weight: bold;
}
.inline-icon{
  font-family: 'Courier New', Courier, monospace;
}
.flashcard-front,
.flashcard-back{
  color: black;
}
.fc-context{
  color: #222;
}
.article-editor-field-controls>button,
.article-editor-field-controls>div>button{
  font-weight: bold;
}
.editor-button{
  font-weight: bold;
}
.h2-editor-input{
  font-size: 1.25em;
  font-weight: 500;
}
.p-editor-input{
  font-size: 1em;
}


 /* ==========

 wrapper, banner

 ========== */
#wrapper{
  display: flex;
  flex-direction: column;
}
.banner{
  height: 10vh;
  background-color: rgb(120, 68, 241);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10rem;
  gap: 3rem;
  border-bottom: 3px solid rgb(143, 191, 226);
}


 /* ==========

 home

 ========== */
.main{
  grid-area: m;
  background-color: var(--bg-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-block-start: 3rem;
  padding-inline-end: 3rem;
  gap: 1rem;
  width: 60%;
}
.main-content-panel{
  display: flex;
  width: 85vw;
  justify-content: center;
  background-color: white;
  min-height: 90vh;
  margin-inline: auto;
}
.complexity-symbol{
  flex: 8;
}
 /* ======sidebar====== */
.sidebar-checklist{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: .5rem;
  border-top: 8px solid rgb(120, 68, 241);
  border-bottom: 8px solid rgb(120, 68, 241);
  border-radius: 8px;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  max-height: 70vh;
  overflow-y: auto;
}
.sidebar-area{
  grid-area: s;
  padding-block: .5rem;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-inline: auto 1rem;
  width: 25%;
  justify-content: center;
}
.speed-indicator{
  height: 2em;
}
/* ======card====== */
.comp-card{
  text-align: center;
  margin-block: .5rem;
}
.card-wrapper{
  border-bottom: 2px solid black;
}
.card-wrapper:last-child{
  border: none;
}
.subCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sort-name{
  padding: .125rem;
  margin: .125rem;
  background-color: aliceblue;
}
.sort-name:hover,
.sort-name:focus{
  cursor: pointer;
}
.comp-name-select{
  display: flex;
}
.comp-checkbox,
.card-placeholder{
  flex: 1;
}
/* ======descriptions====== */
.gif-wrapper,
.graph-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  padding-inline-end: 2rem;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
  position: relative;
  background-color: rgb(120, 68, 241);
  z-index: 2;
  border-bottom: 8px solid rgb(166, 134, 241);
}
.graph-wrapper::before,
.gif-wrapper::before{
    position: absolute;
    top: -2em;
    left: 0;
    opacity: .5;
}
.graph-wrapper::after,
.gif-wrapper::after{
    height: 8px;
    width: 100%;
    background-color: rgb(103, 220, 220);
    border-radius: 0 0 16px 16px;
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
}
.algGif,
.graph-space{
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}
/* ======descriptions-- complexity section====== */
.graph-wrapper::before{
    content: "Time Complexity:";
}
.graph-space{
  position: relative;
  aspect-ratio: 1 / 1;
  background-color: white;
}
.graph-space>*{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  mix-blend-mode: darken;
}
/* ======descriptions-- algorithm section====== */
.gif-wrapper::before{
    content: "Algorithm:";
}
.gif-wrapper{
  margin-top: 2.5rem;
}
.algorithm-desc{
  overflow-y: auto;
}

/* ==========

 Flashcard Hub Page

 ========== */
.category-list{
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.fccategory{
  border: 2px solid black;
  width: 20%;
  padding-inline: 1rem;
  justify-content: center;
  gap: 2rem;
  border-radius: 3px;
  cursor: pointer;
  aspect-ratio: 1 / 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
  hyphens: auto;
}

/* ==========

 Flashcard Page

 ========== */
.flashcard-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flashcard-submenu{
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-basis: 30%;
  align-items: center;
}
.flashcard-submenu p{
  line-height: 2rem;
  cursor: pointer;
  vertical-align:middle;
}
.flashcard-scroller{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.scroller-arrow{
    border: 1px solid black;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 5rem;
    height: 5rem;
    text-align: center;
    background-color: white;
    cursor: pointer;
}


/* ======Flashcard====== */
.flashcard{
    width: 400px;
    height: 250px;
    margin: auto;
    background-color: transparent;
    perspective: 1000px;
    cursor: pointer;
    animation-duration: 0.5s;
}
.flashcard-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s ease-out;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
}
.flashcard-front, .flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1.5rem;
}
.flashcard-front{
    border-radius: inherit;
    background-color: white;
}
.flashcard-back{
    border-radius: inherit;
    background-color: #eee;
    transform: rotateY(180deg);
}
.flip {
    transform: rotateY(180deg);
}
.flashcard-front img{
  max-height: 60%;
}
@keyframes fcmoveright {
  0%   {
    transform: translateX(-2em);
    opacity: 0.5;
  }
  25%  {
    transform: translateX(-4em);
    opacity: 0;
  }
  50%  {
    transform: translateX(4em);
    opacity: 0;
  }
  95% {
    transform: translateX(0.125em);
    opacity: .9;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fcmoveleft {
  0%   {
    transform: translateX(2em);
    opacity: 0.5;
  }
  25%  {
    transform: translateX(4em);
    opacity: 0;
  }
  50%  {
    transform: translateX(-4em);
    opacity: 0;
  }
  95% {
    transform: translateX(-0.125em);
    opacity: .9;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ==========

 Article Editor Page

 ========== */
.article-editor{
  border: 2px solid black;
  background-color: aliceblue;
  min-height: 80vh;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}
.article-editor-field{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.article-editor-field-controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}
.article-editor-field-controls>button,
.article-editor-field-controls>div>button{
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(240, 248, 255, 0.5);
  border-color: rgba(0,0,0,0.35);
}
.article-editor-field-controls>button:hover,
.article-editor-field-controls>div>button:hover{
  cursor: pointer;
}
.article-editor-field-controls-middle-row{
  display: flex;
  flex-direction: row;
  gap: .5rem;
}
.editor-controls{
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 10px;
  padding: .5rem;
  display: grid;
  grid-template-columns: auto auto;
}
.editor-button{
  padding: .25rem;
  border-radius: 5px;
  margin: .5rem;
}
.h2-editor-input{
  height: 1.25em;
}
.article-editor-img{
  height: 200px;
}